{{ define "content" }}
<article>
  <h1>{{ .Title }}</h1>

  <div class="">
    {{ .Content }}
  </div>

  <section class="mt-10">
    {{- $projects := where .Site.RegularPages "Section" "projects" }}
    {{- range $projects }}
    <a href="{{ .Permalink }}">
      <div class="card px-8 py-4 mb-6 border-primary shadow-md bg-neutral-primary">
        <h3 class="mt-0">
            {{ .Title }}
        </h3>
        {{- if .Description }}
          <p class="text-[#666] text-base leading-relaxed mb-4">{{ .Description }}</p>
        {{- else if .Summary }}
          <p class="text-[#666] text-base leading-relaxed mb-4">{{ .Summary }}</p>
        {{- end }}
        {{- if .Params.keywords }}
          <div class="flex gap-2 flex-wrap">
            {{- range .Params.keywords }}
              {{ partial "components/tag.html" (dict "text" .) }}
            {{- end }}
          </div>
        {{- end }}
      </div>
    </a>
    {{- end }}

  </section>
</article>
{{ end }}
