// from https://codepen.io/frankieali4/pen/tLezH (seen in https://www.sliderrevolution.com/resources/css-accordion/)
$light-grey: #f9f9f9;
$grey: #f2f2f2;

.drop-down-menu {
  display: block;
  padding: 0 !important;
  overflow: hidden;
  background: $light-grey !important;
  &:hover {
    background: $grey !important;
  }

  .activate {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 0 0 0 -15px;
    opacity: 0;

    &:checked {
      & ~ .drop-down {
        display: block;
      }

      & ~ .menu-title {
        background: $light-grey;
        &:hover {
          background: $grey;
        }
        & .gg-chevron-down {
          display: none;
        }
        & .gg-chevron-up {
          display: block;
        }
      }
    }
  }

  .menu-title {
    cursor: pointer;
    display:block;
    padding: 10px 15px;

    & .gg-chevron-down {
      display: block;
    }
    & .gg-chevron-up {
      display: none;
    }
  }

  .drop-down {
    padding: 15px 0 !important;
    margin: 0;
    display: None;
    overflow: hidden;
    background: white !important;

    & code {
      padding: 8px 8px !important;
      font-size: 12px !important;
    }
  }
}