$logo-font-size: 20px !default;
$header-padding: 20px 20px 0px 20px !default;


.container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 3.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.post .post-toc {
  width: 330px !important;
}

.post .post-toc .post-toc-content {
  font-size: 13px !important;
}

.post-footer {
  margin-bottom: 35px;
}