$logo-font-size: 20px !default;
$header-padding: 20px 20px 0px 20px !default;

@import '_custom/_dev_mode';

.container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: -50px;
  padding-bottom: 20px;
  width: 100%;
}

.content-wrapper {
  margin-top: 15px;
}

.posts {
  margin-top: 50px;
}

.post {

  &.draft {
    display: none;
  }

  :not(.post-toc) {
    .post-link {
      transform: none;
    }

    h1 {
      font-weight: 600 !important;
    }

    h1:not(:first-child) {
      margin-top: 60px !important;
    }

    h2 {
      margin-top: 40px !important;
    }

    h3 {
      margin: 30px auto 10px auto !important;
    }
  }

  .post-toc {
    margin-top: 11px;
    width: 330px !important;

    .post-toc-title {
      padding-top: 5px;
      font-size: 20px !important;
    }

    .post-toc-content {
      font-size: 13px !important;
    }
  }
}

.post-footer {
  margin-bottom: 35px;
}

.ais-InstantSearch {
  width: 320px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;

  .ais-Hits-item {
    padding-top: 10px !important;
    padding-bottom: 15px !important;
    opacity: 1;

    .title {
      font-weight: bold;
      font-size: large;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .description {
      margin-bottom: 5px;
    }

    .badge {
      background-color: #888888;
      border-radius: .25rem;
      padding: 3px 5px;
      margin: 3px;
      display: inline-block;
      color: white;
    }

    ul.headers {
      list-style-position: inside;
      padding-left: 0;
    }
  }
}
