@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$logo-font-size: 20px !default;
$header-padding: 20px 20px 0px 20px !default;

@import '_custom/_accordion';
@import '_custom/_code';
@import '_custom/_dev_mode';

* {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
}

#menu {
  display: flex;

  .menu-item {
    margin: 0 20px 0 0;
  }
}
