@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$logo-font-size: 20px !default;
$header-padding: 20px 20px 0px 20px !default;

@import '_custom/_accordion';
@import '_custom/_code';
@import '_custom/_dev_mode';

* {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
}

body, html {
  font-family: 'Montserrat', sans-serif !important;
}

#menu {
  display: flex;

  .menu-item {
    margin: 0 20px 0 0;
  }

}
.homepage {
  a {
    color: #c05b4d;
    text-decoration: none;
    transition: all 0.2s ease;
    border-bottom: 1px solid #c05b4d;

    &:hover {
      color: #0052a3;
      border-bottom-color: #0052a3;
    }
  }
}

.container {
  position: relative;
  min-height: 80vh;
  padding-bottom: 120px;
}

#footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
}

.content-wrapper {
  margin-top: 15px;
}

.posts {
  margin-top: 40px;

  .category-section {
    margin-bottom: 50px;

    .category-title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 25px;
      color: #333;
      border-bottom: 2px solid #e0e0e0;
      padding-bottom: 10px;
    }

    h3 {
      margin: 12px 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.6;

      a {
        color: #c05b4d;
        text-decoration: none;
        transition: all 0.2s ease;

        &:hover {
          color: #0052a3;
          text-decoration: underline;
        }
      }
    }
  }
}

// Projects list styling
.projects-list {
  margin-top: 40px;

  .project-item {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

    h4 {
      font-size: 16px;
      margin-bottom: 15px;

      a {
        color: #c05b4d;
        text-decoration: none;
        transition: all 0.2s ease;

        &:hover {
          color: #0052a3;
          text-decoration: underline;
        }
      }
    }

    .project-description {
      color: #666;
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 15px;
    }

    .project-tags {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .tag {
        background-color: #f0f0f0;
        color: #555;
        padding: 5px 12px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.post {

  &.draft {
    display: none;
  }

  :not(.post-toc) {
    .post-link {
      transform: none;
    }

    h1 {
      font-weight: 600 !important;
    }

    h1:not(:first-child) {
      margin-top: 60px !important;
    }

    h2 {
      margin-top: 40px !important;
    }

    h3 {
      margin: 30px auto 10px auto !important;
    }
  }

  .post-toc {
    margin-top: 11px;
    width: 330px !important;

    .post-toc-title {
      padding-top: 5px;
      font-size: 20px !important;
    }

    .post-toc-content {
      font-size: 13px !important;
    }
  }
}

.post-footer {
  margin-bottom: 35px;
}

.ais-InstantSearch {
  width: 320px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;

  .ais-Hits-item {
    padding-top: 10px !important;
    padding-bottom: 15px !important;
    opacity: 1;

    .title {
      font-weight: bold;
      font-size: large;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .description {
      margin-bottom: 5px;
    }

    .badge {
      background-color: #888888;
      border-radius: .25rem;
      padding: 3px 5px;
      margin: 3px;
      display: inline-block;
      color: white;
    }

    ul.headers {
      list-style-position: inside;
      padding-left: 0;
    }
  }
}
