.posts.dev {
  margin-top: 40px;

  .post {
    padding: 0;
    border-top: none !important;

    .post-header {
      margin-bottom: 10px;

      .post-title {
        font-size: 18px !important;
        &::before {
          content: "- ";
        };
      }
    }

    .post-meta, .post-description {
      display: none;
    }
  }

  border-bottom: none;
}