<article>
  <header>
    <h1><a href="{{ .RelPermalink }}">{{ title .Title }}</a></h1>
    <div>
      {{ with .Params.categories -}}
        <div>
          {{ range . -}}
            <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
          {{ end -}}
        </div>
      {{- end }}
      {{- if .Site.Params.moreMeta }}
        <span> {{ T "readingTime" .ReadingTime }} </span>
      {{- end }}
    </div>
  </header>
  <!-- Content -->
  <div>
      {{ if .Description }}
    <div>
      {{ .Description }}
    </div>
      {{ end }}
  </div>
</article>
