<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"
        integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"
        integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css"
      integrity="sha256-TehzF/2QvNKhGQrrNpoOb2Ck4iGZ1J/DI4pkd2oUsBc=" crossorigin="anonymous">
<script>
    function isDevMode() {
        return '{{ getenv "ENV" }}' === "dev" ||
        new URLSearchParams(window.location.search).get("d") !== null ||
        Boolean(localStorage.getItem("dev-mode"));
    }
    const devMode = isDevMode()
    localStorage.setItem("dev-mode",devMode)

    if (devMode) {
        // show all posts including drafts
        Array.from(document.querySelectorAll(".post")).map(el => el.style.display = "block")
    }

    if (document.querySelector("#search-bar")) {
        if (window.location.pathname === "/" ||devMode) {
            loadAlgolia();
        }
    }

    function loadAlgolia() {
        const searchClient = algoliasearch('{{ getenv "ALGOLIA_APP_ID" }}', '{{ getenv "ALGOLIA_SEARCH_ONLY_KEY" }}')
        const search = instantsearch({
            indexName: '{{ getenv "ALGOLIA_INDEX_NAME" }}',
            searchClient,
            searchFunction: helper => {
                const query_length = helper.state.query.length
                if (query_length === 0) {
                    $('#hits').hide()
                } else if (query_length >= 3) {
                    if (!devMode) {
                        const draft = "draft"
                        if (!helper.state.isConjunctiveFacet(draft)) {
                            helper.state.facets.push(draft)
                        }
                        helper.addFacetRefinement(draft, false)
                    }

                    helper.search();
                }
            }
        });

        function itemToHtml(item) {
            title = item._highlightResult.title.value || item.title
            description = item.description && item._highlightResult.description.value
            description = description ? description : ""

            keywords_matched = []
            if (item.keywords && item._highlightResult.keywords) {
                keywords_matched = item._highlightResult.keywords.filter(h => h.matchLevel === "full").map(h => h.value).slice(0, 2)
            }
            keywords_html = keywords_matched.length ? keywords_matched.map(k => `<span class="badge">${k}</span>`).join(" ") : ""

            headers_matched = []
            if (item.headers && item._highlightResult.headers) {
                headers_matched = item._highlightResult.headers.filter(h => h.matchLevel === "full").map(h => h.value).slice(0, 2)
            }
            headers_html = headers_matched.length ? headers_matched.map(h => `<li>${h}</li>`).join("") : ""
            return `<a href="${item.url}">
                        <div class="title">${title}</div>
                        <div class="description">${description}</div>
                        ${keywords_html}
                        <ul class="headers">${headers_html}</ul>
                    </a>`
        }

        search.addWidgets([
            instantsearch.widgets.searchBox({
                container: '#search-bar',
                placeholder: 'Search for posts',
                autofocus: true,
                showReset: false,
            }),

            instantsearch.widgets.hits({
                container: '#hits',
                templates: {
                    item: itemToHtml
                },
            })

        ]);

        search.start();

        $(document).on('click', function (event) {
            if (!$(event.target).closest('.ais-InstantSearch').length) {
                $('#hits').hide()
            }
        });

        $('.ais-InstantSearch').on('click keypress', function (event) {
            $('#hits').show()
        });

        $('.ais-SearchBox-input').on('focus', function (event) {
            $('#hits').show()
        });
    }
</script>
