{{- define "title" -}}
Thibault Lebrun
{{- end -}}

{{- define "content" -}}
  <section>
    <br>
    <div class="text-center">
      <img src="/img/profile.jpg" alt="Thibault Lebrun" class="w-[300px] mb-8 block mx-auto ">
    </div>

    <br>

    <h3 class="text-2xl font-semibold mb-4">
      Développement de plateformes web modernes et responsables
    </h3>
    <p class="mb-4">
      Développeur web fullstack / backend sénior (9 ans d'expérience), je conçois et développe des plateformes web et des backends robustes et performants en Python, Node.js ou PHP.
    </p>
    <p class="mb-4">
      Vous pouvez consulter mes projets principaux sur la rubrique <a href="/projects" class="text-[#0066cc] font-semibold transition-all duration-200 border-b-2 border-[#0066cc] hover:text-[#0052a3] hover:border-[#0052a3]">projets</a>.
    </p>
    <p class="mb-4">
      Consultez mon <a href="/post/développement-backend/ma-methode/" class="text-[#0066cc] font-semibold transition-all duration-200 border-b-2 border-[#0066cc] hover:text-[#0052a3] hover:border-[#0052a3]">blog</a> pour en savoir plus sur ma manière de travailler.
    </p>
  </section>
{{- end -}}
