{{- define "title" -}}
Thibault Lebrun - Développeur web fullstack senior
{{- end -}}

{{- define "content" -}}
  <section>
    <br>
    <div class="text-center mb-4">
      <img src="/img/profile.jpg" alt="Thibault Lebrun" class="w-[300px] mb-8 block mx-auto" fetchpriority="high" loading="eager" width="300" height="300">
    </div>

    <h1>
      Développement de plateformes web modernes et responsables
    </h1>
    <p class="mb-4">
      Développeur web fullstack / backend sénior (9 ans d'expérience), je conçois et développe des plateformes web et des backends robustes en Python ou Node.js.
    </p>
    <blockquote class="mb-4">
      Je me spécialise dans la création de <strong>MVP</strong> et de plateformes webs de moyenne complexité
      où je vous propose une solution <strong>professionnelle</strong>, complète et scalable à <strong>moindre coût</strong>.
    </blockquote>
    <blockquote class="mb-4">
    Pour les projets plus ambitieux je collabore avec <a href="https://improba.fr/" target="_blank">Improba</a>, une entreprise spécialisée dans le développement
    de projets digitaux d'envergure dans le domaine de l'impact.
    </blockquote>
    <p class="mb-4">
      Vous pouvez consulter mes projets principaux depuis la rubrique <a href="/projects">projets</a>.
    </p>
    <p class="mb-4">
      Consultez mon <a href="/post/developpement-fullstack/methodologie/">référentiel technique et méthodologique</a> pour en savoir plus sur ma manière de travailler.
    </p>
  </section>
{{- end -}}
